.NoData {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 1rem;
    height: 75vh;
    font-size: 1.5rem;
    font-weight: 700;
    color: var(--foreground);
    background-color: var(--tertiary);
    border-radius: 1rem;
    border: 1px solid var(--border-color);
}

.NoData svg {
    width: 4rem;
    height: 4rem;
    fill: var(--gray-color);
}
