.controls {
    display: flex;
    gap: 1rem;
    margin-top: 1.5rem;
}

.searchInput {
    border-radius: 5px;
    flex: 1;
    background: var(--tertiary);
    color: var(--gray-color);
    border: 0;
    padding: 0.7rem 0.5rem;
    font-size: 0.8rem;
    font-weight: 700;
    text-transform: uppercase;
    cursor: pointer;
    border: 0;
}

.searchInput:focus-visible {
    outline: 0;
}

.orderButton {
    padding: 0.5rem 1rem;
    border: none;
    background-color: var(--primary-color);
    border-radius: 5px;
    cursor: pointer;
}

.orderButton svg {
    width: 1.5rem;
    height: 1.5rem;
    stroke: var(--white-color);
    stroke-width: 2;
}

.episodeList {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(215px, 1fr));
    gap: 1rem;
    margin: 2rem 0;
}

@media screen and (min-width: 1600px) {
    .episodeList {
        grid-template-columns: repeat(4, 1fr);
    }
}

@media screen and (max-width: 768px) {
    .episodeList {
        grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
    }
}

@media screen and (min-width: 360px) and (max-width: 490px) {
    .episodeList {
        grid-template-columns: repeat(2, 1fr);
    }
}
